<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>Magic Mirror Application</display-name>

  <description>
    This web application responds to any GET or POST requests and forward it to the mirror, which is another application
  </description>
  
  <servlet>
    <servlet-name>login</servlet-name>
    <display-name>Login Servlet</display-name>
    <description>The controller that allows user to login</description>
    <servlet-class>org.nlavee.skidmore.webapps.web.auth.Login</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
  		<param-name>RdbDriverClass</param-name>
  		<param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/main/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>logout</servlet-name>
    <display-name>Logout Servlet</display-name>
    <description>The controller that allows user to log out</description>
    <servlet-class>org.nlavee.skidmore.webapps.web.auth.Logout</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>message</servlet-name>
    <display-name>Message Servlet</display-name>
    <description>The controller that process message from User.</description>
    <servlet-class>org.nlavee.skidmore.webapps.web.mode.Message</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>message</servlet-name>
    <url-pattern>/message/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>status</servlet-name>
    <display-name>Status Servlet</display-name>
    <description>The controller that allows user to see the status of the mirror</description>
    <servlet-class>org.nlavee.skidmore.webapps.web.mode.Status</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>status</servlet-name>
    <url-pattern>/status/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>about</servlet-name>
    <display-name>About Servlet</display-name>
    <description>The controller that allows user to see the about page of the mirror</description>
    <servlet-class>org.nlavee.skidmore.webapps.web.mode.About</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>about</servlet-name>
    <url-pattern>/about/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>contact</servlet-name>
    <display-name>Contact Servlet</display-name>
    <description>The controller that allows user to see the contact page of the mirror</description>
    <servlet-class>org.nlavee.skidmore.webapps.web.mode.Contact</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>signup</servlet-name>
    <display-name>Signup Servlet</display-name>
    <description>The controller that allows user to sign up</description>
    <servlet-class>org.nlavee.skidmore.webapps.web.auth.Signup</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>weather</servlet-name>
    <display-name>Weather Servlet</display-name>
    <description>The controller that allows user to control where they want their weather to come from.</description>
    <servlet-class>org.nlavee.skidmore.webapps.web.mode.Weather</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>weather</servlet-name>
    <url-pattern>/weather/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>news</servlet-name>
    <display-name>News Servlet</display-name>
    <description>The controller that allows user to control what news section they like to see.</description>
    <servlet-class>org.nlavee.skidmore.webapps.web.mode.News</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>news</servlet-name>
    <url-pattern>/news/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>lyft</servlet-name>
    <display-name>Lyft Authentication Servlet</display-name>
    <description>The controller that allows user to work with Lyft Authentication.</description>
    <servlet-class>org.nlavee.skidmore.webapps.web.mode.LyftAuthentication</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>lyft</servlet-name>
    <url-pattern>/lyftOps/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>lyftModes</servlet-name>
    <display-name>Lyft Operations Servlet</display-name>
    <description>The controller that allows user to work with Lyft.</description>
    <servlet-class>org.nlavee.skidmore.webapps.web.mode.LyftOps</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>lyftModes</servlet-name>
    <url-pattern>/lyftRideType/*</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>lyftModes</servlet-name>
    <url-pattern>/lyftETA/*</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>lyftModes</servlet-name>
    <url-pattern>/lyftCost/*</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>register</servlet-name>
    <display-name>Register Mirror Servlet</display-name>
    <description>The controller that register the mirror.</description>
    <servlet-class>org.nlavee.skidmore.webapps.web.mode.RegisterMirror</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register/*</url-pattern>
  </servlet-mapping>
  	
    <!-- Preload the JSP -->
  <servlet>
    <servlet-name>edittask-jsp</servlet-name>
    <jsp-file>/WEB-INF/hiddenjsp/login.jsp</jsp-file>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
    <servlet>
    <servlet-name>map-jsp</servlet-name>
    <jsp-file>/WEB-INF/hiddenjsp/map.jsp</jsp-file>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>main</welcome-file>
  </welcome-file-list>
</web-app>
